nav {
    position: relative;
    width: 100vw;
    height: 130px;
    background-color: var(--black);
    color: var(--white);
}

#careers-link {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 10px;
    margin-right: 40px;
    font-weight: 700;
    font-size: .8rem;
}

#careers-link:hover {
    color: var(--white);
    text-shadow: none;
}

#nav-left {
    height: 100%;
}

#logo-container {
    position: absolute;
    top: var(--logoTop);
    left: var(--logoLeft);
}

#company-logo {
    height: var(--logoHeight);
    width: var(--logoWidth);
    margin-left: 1rem;
}

#nav-left-links {
    position: absolute;
    bottom: var(--logoTop);
    left: var(--logoWidth);
    margin-left: 3rem;
}

#nav-left-links a {
    font-size: .9rem;
    margin: 0 1.25rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}

#nav-left-links a:hover {
    color: var(--primary);
    text-shadow: 0 0 10px white;
    transition: all .4s;
}

#nav-right-links {
    position: absolute;
    bottom: var(--logoTop);
    right: 0;
    margin-right: 40px;
}

#nav-right-links a {
    font-size: .9rem;
    margin-left: 2.5rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}

#nav-right-links a i {
    font-weight: unset;
    font-size: 1.75rem;
    color: #ffffff99;
}

header {
    position: relative;
    width: 100%;
    max-height: 1000px;
    display: flex;
    align-items: center;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: auto;
    z-index: -1;
}

#header-main {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header-main img {
    width: 350px;
}

#header-main button {
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 1px;
    border: none;
    text-transform: uppercase;
    padding: .75rem;
    margin-top: 1rem;
    background-color: var(--black);
    color: var(--white);
    box-shadow: 0 0 10px #fff;
}

#header-main button:hover {
    cursor: pointer;
    background-color: var(--white);
    color: var(--black);
    transition: all .25s;
}

#banner {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: .5rem 0;
    max-height: 175px;
    background-color: var(--primary);
    box-shadow: 0 5px 25px #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: .25rem 0;
    width: 90%;
    font-family: 'Special Elite', cursive;
}

#banner-header {
    align-items: center;
}

.banner-section h2 {
    font-size: 3rem;
    font-weight: 900;
    text-transform: uppercase;
    color: var(--white);
    margin: 0 2rem;
    letter-spacing: 2px;
    padding-top: .75rem;
}

.banner-input {
    border: 2px solid #000;
    margin: 0 .5rem;
    text-align: center;
    font-weight: 700;
    font-size: 1.1rem;
    padding: .5rem 0;
}

#banner-email {
    width: 400px;
}

#banner-zip {
    width: 200px;
}

#banner-btn {
    color: var(--white);
    background-color: var(--black);
    font-size: 1.1rem;
    padding: .5rem;
    font-weight: 700;
    text-transform: uppercase;
}

#banner-btn:hover {
    cursor: pointer;
}

#banner-message {
    font-size: 1.25rem;
    font-weight: 900;
    text-shadow: 1px 0 0 #000;
    letter-spacing: 3px;
}

#banner-footnote {
    text-transform: uppercase;
    font-size: .8rem;
    letter-spacing: 2px;
}

main {
    background-color: #fff;
}

#section-1 {
    position: relative;
}

#section-1-background {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-25px, -50%);
    height: 80%;
    width: auto;
}

#section-1-content {
    display: flex;
    justify-content: center;
    max-width: 75vw;
    margin: auto;
    padding: 5rem 0;
}

#section-1-left {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#section-1-left img {
    width: 400px;
}

#section-1-left p {
    text-align: center;
    line-height: 1.3;
    letter-spacing: 2px;
    font-size: 1.25rem;
    padding: 0 3rem;
}

#section-1-left p:nth-of-type(1) {
    margin: 2rem 0;
}

#section-1-left button {
    margin-top: 1rem;
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: none;
    color: var(--white);
    background-color: var(--black);
    padding: .75rem;
}

#section-1-left button:hover {
    cursor: pointer;
}

#section-1-right {
    display: flex;
    align-items: center;
}

#section-1-right a {
    width: 250px;
    margin: 2rem;
}

#section-1-right img {
    box-shadow: 5px 5px 15px #000000aa;
}



